In [90]:
import pandas as pd
import numpy as np

In [91]:
df = pd.read_excel(r'C:\Users\iUsaid\Desktop\DSP-55 for Python\Omeprazole-Data transfer_new.xlsx',sheet_name = 'Ome-200005540-10mg').iloc[:,1:]
df

,MOA→,MET-CFTO-003186,MET-CFTO-003459,MET-CFTO-003216,MET-CFTO-006273,MET-CFTO-006273.1,MET-CFTO-003340,MET-CFTO-008631
0,Material Code,200005540,200000768,200013410,200013410,200013410,200013410,200013410
1,Spec →,SP-CFTO-006323_UNITED STATES,SP-CFTO-006609_South Africa,SP-CFTO-006356_Russia,SP-CFTO-012127_UKRAINE,SP-CFTO-012127_UZBEKISTAN,SP-CFTO-006478_KAZAKHSTAN,SP-CFTO-016520_BELARUS
2,Tests ↓,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DES,1,1,2,3,3,3,3
4,ID by HPLC,1,1,2,1,1,1,1
5,ID by UV,NaN,NaN,NaN,NaN,NaN,NaN,1
6,LOD,1,1,NaN,1,1,1,1
7,UOD,1,1,1,1,1,1,1
8,DSA,1,1,1,1,1,1,1
9,DSB,1,1,1,1,1,1,1
10,AS,NaN,1,1,1,1,1,1
11,RS,1,1,2,2,2,2,2
12,RSL,1,2,3,3,3,3,3
13,RSL2 (ALT MET),1,NaN,NaN,NaN,NaN,NaN,NaN
14,AVG WT,NaN,NaN,1,1,1,1,1
15,AVG WT_NET CON,NaN,NaN,1,1,1,1,1
16,TPW,1,NaN,NaN,NaN,NaN,NaN,NaN
17,UOM,NaN,NaN,NaN,1,1,1,1
18,ELEMENTAL IMP,1,NaN,NaN,NaN,NaN,NaN,NaN
19,MICRO,NaN,NaN,1,2,2,1,2

In [92]:
df.columns

Index(['MOA→', 'MET-CFTO-003186', 'MET-CFTO-003459', 'MET-CFTO-003216',
       'MET-CFTO-006273', 'MET-CFTO-006273.1', 'MET-CFTO-003340',
       'MET-CFTO-008631'],
      dtype='object')

In [73]:
# df.stack().reset_index()

In [74]:
# df.iloc[3:]

In [75]:
# df.drop(columns='Unnamed: 0')

In [96]:
m_codes = df.loc[0].values.tolist()[1:]
m_codes

[200005540, 200000768, 200013410, 200013410, 200013410, 200013410, 200013410]

In [77]:
spec_mkts = df.loc[1].values.tolist()[1:]
spec_mkts

['SP-CFTO-006323_UNITED STATES',
 'SP-CFTO-006609_South Africa',
 'SP-CFTO-006356_Russia',
 'SP-CFTO-012127_UKRAINE',
 'SP-CFTO-012127_UZBEKISTAN',
 'SP-CFTO-006478_KAZAKHSTAN',
 'SP-CFTO-016520_BELARUS']

In [78]:
# for i,j in zip(m_codes,spec_mkts):
#    print(str(i)+'_'+j)

In [79]:
# another way list comprehnesion
cols = [(str(m_codes) + '_' + spec_mkts) for m_codes,spec_mkts in zip(m_codes,spec_mkts)]
cols

['200005540_SP-CFTO-006323_UNITED STATES',
 '200000768_SP-CFTO-006609_South Africa',
 '200013410_SP-CFTO-006356_Russia',
 '200013410_SP-CFTO-012127_UKRAINE',
 '200013410_SP-CFTO-012127_UZBEKISTAN',
 '200013410_SP-CFTO-006478_KAZAKHSTAN',
 '200013410_SP-CFTO-016520_BELARUS']

In [80]:
cols.insert(0,'Test')
cols

['Test',
 '200005540_SP-CFTO-006323_UNITED STATES',
 '200000768_SP-CFTO-006609_South Africa',
 '200013410_SP-CFTO-006356_Russia',
 '200013410_SP-CFTO-012127_UKRAINE',
 '200013410_SP-CFTO-012127_UZBEKISTAN',
 '200013410_SP-CFTO-006478_KAZAKHSTAN',
 '200013410_SP-CFTO-016520_BELARUS']

In [81]:
df = df.iloc[3:,:]
df

,MOA→,MET-CFTO-003186,MET-CFTO-003459,MET-CFTO-003216,MET-CFTO-006273,MET-CFTO-006273.1,MET-CFTO-003340,MET-CFTO-008631
3,DES,1,1,2,3,3,3,3
4,ID by HPLC,1,1,2,1,1,1,1
5,ID by UV,NaN,NaN,NaN,NaN,NaN,NaN,1
6,LOD,1,1,NaN,1,1,1,1
7,UOD,1,1,1,1,1,1,1
8,DSA,1,1,1,1,1,1,1
9,DSB,1,1,1,1,1,1,1
10,AS,NaN,1,1,1,1,1,1
11,RS,1,1,2,2,2,2,2
12,RSL,1,2,3,3,3,3,3
13,RSL2 (ALT MET),1,NaN,NaN,NaN,NaN,NaN,NaN
14,AVG WT,NaN,NaN,1,1,1,1,1
15,AVG WT_NET CON,NaN,NaN,1,1,1,1,1
16,TPW,1,NaN,NaN,NaN,NaN,NaN,NaN
17,UOM,NaN,NaN,NaN,1,1,1,1
18,ELEMENTAL IMP,1,NaN,NaN,NaN,NaN,NaN,NaN
19,MICRO,NaN,NaN,1,2,2,1,2

In [82]:
df.columns = cols
df

,Test,200005540_SP-CFTO-006323_UNITED STATES,200000768_SP-CFTO-006609_South Africa,200013410_SP-CFTO-006356_Russia,200013410_SP-CFTO-012127_UKRAINE,200013410_SP-CFTO-012127_UZBEKISTAN,200013410_SP-CFTO-006478_KAZAKHSTAN,200013410_SP-CFTO-016520_BELARUS
3,DES,1,1,2,3,3,3,3
4,ID by HPLC,1,1,2,1,1,1,1
5,ID by UV,NaN,NaN,NaN,NaN,NaN,NaN,1
6,LOD,1,1,NaN,1,1,1,1
7,UOD,1,1,1,1,1,1,1
8,DSA,1,1,1,1,1,1,1
9,DSB,1,1,1,1,1,1,1
10,AS,NaN,1,1,1,1,1,1
11,RS,1,1,2,2,2,2,2
12,RSL,1,2,3,3,3,3,3
13,RSL2 (ALT MET),1,NaN,NaN,NaN,NaN,NaN,NaN
14,AVG WT,NaN,NaN,1,1,1,1,1
15,AVG WT_NET CON,NaN,NaN,1,1,1,1,1
16,TPW,1,NaN,NaN,NaN,NaN,NaN,NaN
17,UOM,NaN,NaN,NaN,1,1,1,1
18,ELEMENTAL IMP,1,NaN,NaN,NaN,NaN,NaN,NaN
19,MICRO,NaN,NaN,1,2,2,1,2

In [83]:
df.set_index('Test').stack()

Test
DES    200005540_SP-CFTO-006323_UNITED STATES    1
       200000768_SP-CFTO-006609_South Africa     1
       200013410_SP-CFTO-006356_Russia           2
       200013410_SP-CFTO-012127_UKRAINE          3
       200013410_SP-CFTO-012127_UZBEKISTAN       3
                                                ..
MICRO  200013410_SP-CFTO-006356_Russia           1
       200013410_SP-CFTO-012127_UKRAINE          2
       200013410_SP-CFTO-012127_UZBEKISTAN       2
       200013410_SP-CFTO-006478_KAZAKHSTAN       1
       200013410_SP-CFTO-016520_BELARUS          2
Length: 84, dtype: object

In [84]:
df.set_index('Test').stack().reset_index()

     Test                                 level_1  0
0     DES  200005540_SP-CFTO-006323_UNITED STATES  1
1     DES   200000768_SP-CFTO-006609_South Africa  1
2     DES         200013410_SP-CFTO-006356_Russia  2
3     DES        200013410_SP-CFTO-012127_UKRAINE  3
4     DES     200013410_SP-CFTO-012127_UZBEKISTAN  3
..    ...                                     ... ..
79  MICRO         200013410_SP-CFTO-006356_Russia  1
80  MICRO        200013410_SP-CFTO-012127_UKRAINE  2
81  MICRO     200013410_SP-CFTO-012127_UZBEKISTAN  2
82  MICRO     200013410_SP-CFTO-006478_KAZAKHSTAN  1
83  MICRO        200013410_SP-CFTO-016520_BELARUS  2

[84 rows x 3 columns]

In [85]:
df.set_index('Test').stack().reset_index().rename(columns={'level_1': 'MaterialNumber',0 : 'Copy_Testing_Flag'})

     Test                          MaterialNumber Copy_Testing_Flag
0     DES  200005540_SP-CFTO-006323_UNITED STATES                 1
1     DES   200000768_SP-CFTO-006609_South Africa                 1
2     DES         200013410_SP-CFTO-006356_Russia                 2
3     DES        200013410_SP-CFTO-012127_UKRAINE                 3
4     DES     200013410_SP-CFTO-012127_UZBEKISTAN                 3
..    ...                                     ...               ...
79  MICRO         200013410_SP-CFTO-006356_Russia                 1
80  MICRO        200013410_SP-CFTO-012127_UKRAINE                 2
81  MICRO     200013410_SP-CFTO-012127_UZBEKISTAN                 2
82  MICRO     200013410_SP-CFTO-006478_KAZAKHSTAN                 1
83  MICRO        200013410_SP-CFTO-016520_BELARUS                 2

[84 rows x 3 columns]

In [86]:
df = df.set_index('Test').stack().reset_index().rename(columns={'level_1': 'MaterialNumber',0 : 'Copy_Testing_Flag'})
df

     Test                          MaterialNumber Copy_Testing_Flag
0     DES  200005540_SP-CFTO-006323_UNITED STATES                 1
1     DES   200000768_SP-CFTO-006609_South Africa                 1
2     DES         200013410_SP-CFTO-006356_Russia                 2
3     DES        200013410_SP-CFTO-012127_UKRAINE                 3
4     DES     200013410_SP-CFTO-012127_UZBEKISTAN                 3
..    ...                                     ...               ...
79  MICRO         200013410_SP-CFTO-006356_Russia                 1
80  MICRO        200013410_SP-CFTO-012127_UKRAINE                 2
81  MICRO     200013410_SP-CFTO-012127_UZBEKISTAN                 2
82  MICRO     200013410_SP-CFTO-006478_KAZAKHSTAN                 1
83  MICRO        200013410_SP-CFTO-016520_BELARUS                 2

[84 rows x 3 columns]

In [88]:
df['Product_code'] = [item[0] for item in df['MaterialNumber'].str.split('_')]
df['l_product'] = [item[1] for item in df['MaterialNumber'].str.split('_')]
df['market'] = [item[2] for item in df['MaterialNumber'].str.split('_')]

In [89]:
df

,Test,MaterialNumber,Copy_Testing_Flag,Product_code,l_product,market
0,DES,200005540_SP-CFTO-006323_UNITED STATES,1,200005540,SP-CFTO-006323,UNITED STATES
1,DES,200000768_SP-CFTO-006609_South Africa,1,200000768,SP-CFTO-006609,South Africa
2,DES,200013410_SP-CFTO-006356_Russia,2,200013410,SP-CFTO-006356,Russia
3,DES,200013410_SP-CFTO-012127_UKRAINE,3,200013410,SP-CFTO-012127,UKRAINE
4,DES,200013410_SP-CFTO-012127_UZBEKISTAN,3,200013410,SP-CFTO-012127,UZBEKISTAN
...,...,...,...,...,...,...
79,MICRO,200013410_SP-CFTO-006356_Russia,1,200013410,SP-CFTO-006356,Russia
80,MICRO,200013410_SP-CFTO-012127_UKRAINE,2,200013410,SP-CFTO-012127,UKRAINE
81,MICRO,200013410_SP-CFTO-012127_UZBEKISTAN,2,200013410,SP-CFTO-012127,UZBEKISTAN
82,MICRO,200013410_SP-CFTO-006478_KAZAKHSTAN,1,200013410,SP-CFTO-006478,KAZAKHSTAN
83,MICRO,200013410_SP-CFTO-016520_BELARUS,2,200013410,SP-CFTO-016520,BELARUS