In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.dates as mpl_dates

In [2]:
df=pd.read_excel('Interview_questions.xlsx',sheet_name='base_data')
df.head()

        date  order_no format     division_name  orderval   rcvval
0 2020-10-18         1     sm           Staples   9732.80  9732.80
1 2020-10-16         2     sm      Grocery Food    558.71   558.71
2 2020-10-20         3     sm  Grocery Non Food   2927.04  2927.04
3 2020-10-21         4     sm      Grocery Food    905.96   905.96
4 2020-10-27         5     sm      Grocery Food    988.62   988.62

In [3]:
df.dtypes

date             datetime64[ns]
order_no                  int64
format                   object
division_name            object
orderval                float64
rcvval                  float64
dtype: object

In [6]:
df['day_bucket'] = df['date'] - pd.datetime(2020,10,22)
df.head(5)

C:\Users\skesh\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  """Entry point for launching an IPython kernel.

        date  order_no format     division_name  orderval   rcvval day_bucket
0 2020-10-18         1     sm           Staples   9732.80  9732.80    -4 days
1 2020-10-16         2     sm      Grocery Food    558.71   558.71    -6 days
2 2020-10-20         3     sm  Grocery Non Food   2927.04  2927.04    -2 days
3 2020-10-21         4     sm      Grocery Food    905.96   905.96    -1 days
4 2020-10-27         5     sm      Grocery Food    988.62   988.62     5 days

In [7]:
df.dtypes

date              datetime64[ns]
order_no                   int64
format                    object
division_name             object
orderval                 float64
rcvval                   float64
day_bucket       timedelta64[ns]
dtype: object

In [8]:
df['day_bucket'] = df['day_bucket'].astype(str)
df.head(5)

,date,order_no,format,division_name,orderval,rcvval,day_bucket
0,2020-10-18,1,sm,Staples,9732.80,9732.80,-4 days +00:00:00.000000000
1,2020-10-16,2,sm,Grocery Food,558.71,558.71,-6 days +00:00:00.000000000
2,2020-10-20,3,sm,Grocery Non Food,2927.04,2927.04,-2 days +00:00:00.000000000
3,2020-10-21,4,sm,Grocery Food,905.96,905.96,-1 days +00:00:00.000000000
4,2020-10-27,5,sm,Grocery Food,988.62,988.62,5 days 00:00:00.000000000

In [9]:
df['day_bucket'] = df['day_bucket'].str.slice(0,2)
df.head(5)

        date  order_no format     division_name  orderval   rcvval day_bucket
0 2020-10-18         1     sm           Staples   9732.80  9732.80         -4
1 2020-10-16         2     sm      Grocery Food    558.71   558.71         -6
2 2020-10-20         3     sm  Grocery Non Food   2927.04  2927.04         -2
3 2020-10-21         4     sm      Grocery Food    905.96   905.96         -1
4 2020-10-27         5     sm      Grocery Food    988.62   988.62         5

In [10]:
day_bucket_mapping = {  '-9' : '-1 to -10',
                       '-8' : '-1 to -10',
                       '-7' : '-1 to -10',
                       '-6' : '-1 to -10',
                       '-5' : '-1 to -10',
                       '-4' : '-1 to -10',
                       '-3' : '-1 to -10',
                       '-2' : '-1 to -10',
                       '-1' : '-1 to -10',
                        '0 ' : '0 to 2',
                        '1 ' : '0 to 2',
                        '2 ' : '0 to 2',
                        '3 ' : '3 to 7',
                        '4 ' : '3 to 7',
                        '5 ' : '3 to 7',
                        '6 ' : '3 to 7',
                        '7 ' : '3 to 7'
                                          }

In [11]:
df['day_bucket'] = df['day_bucket'].map(day_bucket_mapping)

In [12]:
df

,date,order_no,format,division_name,orderval,rcvval,day_bucket
0,2020-10-18,1,sm,Staples,9732.80,9732.80,-1 to -10
1,2020-10-16,2,sm,Grocery Food,558.71,558.71,-1 to -10
2,2020-10-20,3,sm,Grocery Non Food,2927.04,2927.04,-1 to -10
3,2020-10-21,4,sm,Grocery Food,905.96,905.96,-1 to -10
4,2020-10-27,5,sm,Grocery Food,988.62,988.62,3 to 7
...,...,...,...,...,...,...,...
11901,2020-10-26,11902,hm,Grocery Non Food,458.34,NaN,3 to 7
11902,2020-10-23,11903,hm,Grocery Food,2486.86,NaN,0 to 2
11903,2020-10-26,11904,hm,Grocery Food,1138.34,NaN,3 to 7
11904,2020-10-22,11905,hm,Grocery Food,124081.02,NaN,0 to 2
11905,2020-10-28,11906,hm,Grocery Food,1384.07,NaN,3 to 7

In [13]:
df['day_bucket'].value_counts().sort_index()

-1 to -10    4970
0 to 2       3034
3 to 7       3902
Name: day_bucket, dtype: int64

In [17]:
df[df["day_bucket"] == '0 to 2'].groupby(['format',
                                          'division_name',
                                          ])['orderval','rcvval'].sum()

C:\Users\skesh\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  This is separate from the ipykernel package so we can avoid doing imports until

                           orderval      rcvval
format division_name
hm     Grocery Food      3553283.40    20420.15
       Grocery Non Food  1288835.50     5112.35
       Staples            595349.92        0.00
sm     Grocery Food      6604780.07  1720812.39
       Grocery Non Food  4512243.74  2060888.87
       Staples           1394218.96    53575.54

In [18]:
#df[df["day_bucket"] == '-1 to -10'].groupby(['format','division_name'])['orderval','rcvval'].sum()

C:\Users\skesh\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                           orderval      rcvval
format division_name
hm     Grocery Food       130172.08   130172.08
       Grocery Non Food    14670.56    14670.56
       Staples                 0.00        0.00
sm     Grocery Food      6951478.73  6735072.93
       Grocery Non Food  4077619.84  4024782.67
       Staples           5057269.34  4395770.93

In [19]:
d1 = df[df["day_bucket"] == '-1 to -10'].groupby(['format','division_name'])['orderval','rcvval'].sum()
d2 = df[df["day_bucket"] == '0 to 2'].groupby(['format','division_name'])['orderval','rcvval'].sum()
d3 = df[df["day_bucket"] == '3 to 7'].groupby(['format','division_name'])['orderval','rcvval'].sum()

C:\Users\skesh\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.
C:\Users\skesh\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

C:\Users\skesh\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [20]:
d1['fillrate'] = d1['rcvval']/d1['orderval']
d2['fillrate'] = d2['rcvval']/d2['orderval']
d3['fillrate'] = d3['rcvval']/d3['orderval']

In [21]:
dflist=[d1,d2,d3]

df_final=pd.concat(dflist,axis=1)

df_final

                           orderval      rcvval  fillrate    orderval  \
format division_name
hm     Grocery Food       130172.08   130172.08  1.000000  3553283.40
       Grocery Non Food    14670.56    14670.56  1.000000  1288835.50
       Staples                 0.00        0.00       NaN   595349.92
sm     Grocery Food      6951478.73  6735072.93  0.968869  6604780.07
       Grocery Non Food  4077619.84  4024782.67  0.987042  4512243.74
       Staples           5057269.34  4395770.93  0.869199  1394218.96

                             rcvval  fillrate    orderval     rcvval  fillrate
format division_name
hm     Grocery Food        20420.15  0.005747  3050918.15    1899.46  0.000623
       Grocery Non Food     5112.35  0.003967  2886840.31    3879.31  0.001344
       Staples                 0.00  0.000000  1249676.03       0.00  0.000000
sm     Grocery Food      1720812.39  0.260540  5513566.82  484621.63  0.087896
       Grocery Non Food  2060888.87  0.456733  4376645.83  303398.31  0.069322
       Staples             53575.54  0.038427  2045736.20       0.00  0.000000

In [41]:
def load_data(path,sheet_name):
    '''
    This function loads the file and return the raw data
    : path - Path of the excel file
    : sheet - sheet name of the file where the data is located
    : df - returns a pandas dataframe
    '''
    
    df=pd.read_excel(path,sheet_name=sheet_name)

    return df

In [28]:
def fill_nulls(df):
    
    
    df['rcvval'] = df['rcvval'].fillna(0)
    df['orderval'] = df['orderval'].fillna(0)    
    
    return df

In [29]:
def create_day_bucket_col(df):

    df['day_bucket'] = df['date'] - pd.datetime(2020,10,22)
    df['day_bucket'] = df['day_bucket'].astype(str)
    df['day_bucket'] = df['day_bucket'].str.slice(0,2)
    
    return df

In [30]:
def creat_mapping(df):
    
    #converting the column from str to int
    df['day_bucket'] = df['day_bucket'].astype(int)
    
    #extracting the minimum values
    min_val = df['day_bucket'].value_counts().sort_index().index[0]
    
    #extractin the maximum value
    max_val = df['day_bucket'].value_counts().sort_index().index[-1]
    
    map_dict = {}
    for i in range(min_val,(max_val + 1)):

        if i<0:
            map_dict[i] = '-1 to -10'
        elif i<3:
            map_dict[i] = '0 to 2'
        else:
            map_dict[i] = '3 to 7'

    df['day_bucket']=df['day_bucket'].map(map_dict)
    
    return df

In [31]:
def create_groups(df):
    
    d1 = df[df["day_bucket"] == '-1 to -10'].groupby(['format','division_name'])['orderval','rcvval'].sum()
    d2 = df[df["day_bucket"] == '0 to 2'].groupby(['format','division_name'])['orderval','rcvval'].sum()
    d3 = df[df["day_bucket"] == '3 to 7'].groupby(['format','division_name'])['orderval','rcvval'].sum()
    
    d1['fillrate']=d1['rcvval']/d1['orderval']
    d2['fillrate']=d2['rcvval']/d2['orderval']
    d3['fillrate']=d3['rcvval']/d3['orderval']
    
    dflist=[d1,d2,d3]
    df_final=pd.concat(dflist,axis=1)
    df_final
    
    return df_final

In [43]:
path = 'Interview_questions.xlsx'
sheet_name = 'base_data'

In [44]:
df = load_data(path,sheet_name)
df = fill_nulls(df)
df = create_day_bucket_col(df)

C:\Users\skesh\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  This is separate from the ipykernel package so we can avoid doing imports until

,date,order_no,format,division_name,orderval,rcvval,day_bucket
0,2020-10-18,1,sm,Staples,9732.80,9732.80,-4
1,2020-10-16,2,sm,Grocery Food,558.71,558.71,-6
2,2020-10-20,3,sm,Grocery Non Food,2927.04,2927.04,-2
3,2020-10-21,4,sm,Grocery Food,905.96,905.96,-1
4,2020-10-27,5,sm,Grocery Food,988.62,988.62,5
...,...,...,...,...,...,...,...
11901,2020-10-26,11902,hm,Grocery Non Food,458.34,0.00,4
11902,2020-10-23,11903,hm,Grocery Food,2486.86,0.00,1
11903,2020-10-26,11904,hm,Grocery Food,1138.34,0.00,4
11904,2020-10-22,11905,hm,Grocery Food,124081.02,0.00,0
11905,2020-10-28,11906,hm,Grocery Food,1384.07,0.00,6

In [38]:
df = creat_mapping(df)
df = create_groups(df)
df

C:\Users\skesh\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\skesh\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  after removing the cwd from sys.path.
C:\Users\skesh\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """

                           orderval      rcvval  fillrate    orderval  \
format division_name
hm     Grocery Food       130172.08   130172.08  1.000000  3553283.40
       Grocery Non Food    14670.56    14670.56  1.000000  1288835.50
       Staples                 0.00        0.00       NaN   595349.92
sm     Grocery Food      6951478.73  6735072.93  0.968869  6604780.07
       Grocery Non Food  4077619.84  4024782.67  0.987042  4512243.74
       Staples           5057269.34  4395770.93  0.869199  1394218.96

                             rcvval  fillrate    orderval     rcvval  fillrate
format division_name
hm     Grocery Food        20420.15  0.005747  3050918.15    1899.46  0.000623
       Grocery Non Food     5112.35  0.003967  2886840.31    3879.31  0.001344
       Staples                 0.00  0.000000  1249676.03       0.00  0.000000
sm     Grocery Food      1720812.39  0.260540  5513566.82  484621.63  0.087896
       Grocery Non Food  2060888.87  0.456733  4376645.83  303398.31  0.069322
       Staples             53575.54  0.038427  2045736.20       0.00  0.000000